@import "tailwindcss";

body {
  background-color: #050505;
  color: #ffffff;
}

/* Map specific overrides for dark theme */
.leaflet-container {
  background: #1a1a1a !important;
}
.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
